
.z-content1{
    padding:0 40px;
    line-height: 40px;
    font-size: 17px;
}
.check-one{
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    -moz-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; -webkit-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc;
}
.z-dw7{
    position: absolute;
    left: 30px;
    top:22px;
}
.demo2>a{
    margin-left: 20px;
}
.z-dw{
    height: 200px;
    position: relative;
}
.logo-pic{
    width: 70%;
    height: 60%;
    position: absolute;
    top:40px;
}
.z-dw1{
    position: absolute;
    top:85px;
    right: 20px
}
.z-menu>div>a{
    padding-right: 50px;
}
.logo-pic{
    width: 70%;
    height: 60%;
    position: absolute;
    top:40px;
}
.first-adv{
    margin-top: -10px;
    width: 114%;
    height:100%;
    margin-left: -16px;
}
.z-dw1{
    position: absolute;
    top:85px;
    right: 20px
}
.show-menu{
    width: 40px;
    height: 30px;
}

.z-menu1{
    margin-right: 20px ;
    font-size: 18px;
    color: #8D8D8D;
}
.showIt{
    margin-bottom: 30px;
    display: block;
}
.f-size{
    color: #ccc;
    font-size: 20px;
}

.z-menu{
    margin-bottom: 30px;
    display: none;
}
.z-menu>div>a:first-child{
    font-size: 26px;
    line-height: 56px;
}
.z-menu>div>a{
    padding-right: 50px;
}
.z-dw{
    height: 200px;
    position: relative;
}
.demo2>i{
    margin-left: 20px;
    line-height: 80px;
    font-size: 26px;
    color: #fff;
}
.z-dw6{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #ff1b40;
    margin-top: 30px;
}
.z-dw7{
    position: absolute;
    left: 30px;
}
.z-dw8{
    position: absolute;
    right: 30px;
    line-height: 80px;
    font-size: 26px;
    color: #fff;
}
.f-size17{
    font-size: 17px;
}
.smallDiv{
    margin-top: 40px;
    border-radius: 8px;
    text-align: center;
    line-height: 80px;
}
.p11{
    font-size: 26px;
    font-weight: bolder;
    margin-top: 30px;
}
.p22{
    font-size: 17px;
    margin-top: 6px;
    margin-bottom: 54px;
}
.p33{
    font-size: 17px;
    line-height: 30px;
}
.demo1{
    text-align: center;
    width: 94%;
    height: 356px;
    margin: 14px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    -moz-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; -webkit-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc;
}
.big-title1{
    font-size: 46px;
    padding: 30px;
}
.z-p11{
    padding-left: 30px;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 30px;
}
.z-p22>p{
     padding-left: 30px;
     line-height: 30px;
     font-size: 18px;
     margin-bottom: 30px;
 }
.bigDiv>img{
    margin-top: 26px;
    width: 80%;
    margin-bottom: 5px;
}
.img4{
    text-align: center;
    margin: 16px;
    border: 1px solid #f2f2f2;
    -moz-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; -webkit-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc;
    position: relative;
    min-height: 440px;
}
.img4 span{
    color: #8d8d8d;
}
.check-six{
    min-height: 300px;
}
.z-p1{
    text-align: center;
    font-size: 22px;
    line-height: 42px;
    margin: 58px 0;
}
.title1{
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
    line-height: 56px;
}
.title2{
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    line-height: 20px;
    color: #6e6e6e;
    margin-bottom: 20px;
}
.z-check1{
    margin-bottom: 60px;
}
.h-300{
    width: 100%;
    height: 300px;
}
.big-title{
    font-size: 54px;
    text-align: center;
    letter-spacing:8px;
    margin-bottom: 58px;
}
.img4{
    text-align: center;
    margin: 16px;
    border: 1px solid #f2f2f2;
    -moz-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; -webkit-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc;
    position: relative;
    min-height: 440px;
}

.img2{
    text-align: center;
    margin: 16px;
    border: 1px solid #f2f2f2;
    -moz-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; -webkit-box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc; box-shadow:2px 2px 5px #ccc, 0px 0px 20px #ccc;
    position: relative;
    min-height: 480px;
}
.c-pic1{
    width: 100%;
    height: 300px;
}
.dw-pic{
    position: absolute;
    bottom: 28px;
    left: 10px;
}
.dw-i{
    position: absolute;
    bottom: 34px;
    right: 30px;
    font-size: 40px;
}
.f-color{
    color: #ccc;
}
.border-1{
    width: 100%;
    margin-left: -32px;
    margin-bottom: 40px;
}
.lc-1{
    text-align:  center;
}
.c-pic2{
    margin: 0 auto 100px -32px;
}
.tp-bd{
    width: 100%;
    margin: 10px 0;
}
